 <table class="basket">
  <tr>
    <th>Item</th>
    <th>Unit Price</th>
    <th>Oty</th>
    <th>Price</th>
    <th></th>
  </tr>

<% current_order.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.item.name %></td>
    <td>£<%= sprintf("%0.2f", order_item.item.price) %></td>
    <td><%= order_item.qty %></td>
    <td>£<%= sprintf("%0.2f", order_item.price) %></td>
  </tr>
<% end %>

  <tr>
   <td colspan="2"></td>
   <td>Total price:</td>
   <td>£<%= sprintf("%0.2f", current_order.price) %></td>
  </tr>
 </table>
