<h2>Delivery Address</h2>

<div class="row">
 <div class="span8 offset2">
<%= form_for(@order) do |f| %>
<%= render 'shared/error_messages', :target => @address %>

<% if @addresses.size > 0 %>

<%= f.radio_button :existing_address, "existing", :onclick => "$('#new_address').hide()" %> Use existing address

<%= f.collection_select(:delivery_address_id, @addresses, :id, :full_address) %>

<%= f.radio_button :existing_address, "new", :onclick => "$('#new_address').show()" %> Add new address

<% else %>

<%= f.hidden_field :existing_address %>

<% end %>

  <div id="new_address" <% if @order.existing_address == "existing" %>style="display: none;"<% end %>><br/>
  <%= fields_for :address do |a| %>
    <%= a.select(:title, options_for_select(['Mr','Miss','Mrs','Ms'])) %>
    <%= a.label :first_name %>
    <%= a.text_field :first_name %>
    <%= a.label :last_name %>
    <%= a.text_field :last_name %>
    <%= a.label :organisation %>
    <%= a.text_field :organisation %>
    <%= a.label :building %>
    <%= a.text_field :building %>
    <%= a.label :street %>
    <%= a.text_field :street %>
    <%= a.label :town %>
    <%= a.text_field :town %>
    <%= a.label :county %>
    <%= a.text_field :county %>
    <%= a.label :post_code %>
    <%= a.text_field :post_code %>
   <%= a.label :country %>
   <%= a.text_field :country %>
  <% end %>
  </div>
  <br/><br/>
  <%= f.submit "Continue", :class => "btn pull-right btn-primary"%>
<% end %>
 </div>
</div>
