
<h2>Order Details</h2>

<div class="row">
 <div class="span8 offset2">

  <%= render 'orders/order', order: current_order %>

  <br/>
  <div class="payment_section">

 <h5>Deliver to:</h5>

<ul class="payment_address">
 <li class="content"><%= current_order.address.title %> <%= current_order.address.first_name %> <%= current_order.address.last_name %></li>
 <li class="content"><%= current_order.address.organisation %></li>
 <li class="content"><%= current_order.address.building %> <%= current_order.address.street %></li>
 <li class="content"><%= current_order.address.town %></li>
 <li class="content"><%= current_order.address.county %></li>
 <li class="content"><%= current_order.address.post_code %></li>
 <li class="content"><%= current_order.address.country %></li>
 <li class="content"><%= current_order.address.phone %></li>
</ul>

  </div>

<%= form_for(@payment) do |f| %>
<%= render 'shared/error_messages', :target => @payment %>
  <div class="payment_section">
<h5>Card Details</h5><br/>

   <div class="card_details">
    <%= f.label :card_type %><br />
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number, { :size => 16, :maxlength=>16 } %>
    <%= f.label :expiry_date %><br />
    <%= f.date_select :expiry_date, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
    <%= f.label :verification_value, 'CVS' %><br />
    <%= f.text_field :verification_value, {:size => 3, :maxlength=>3} %>
   </div>
  </div>
  <div class="payment_section">

  <h5>Billing Address - This is the address where your payment card is registered</h5><br />

  <%= f.radio_button :existing_address, "existing", :onclick => "$('#new_address').hide()" %> Use existing address

  <%= f.collection_select(:address_id, @addresses, :id, :full_address) %>

  <%= f.radio_button :existing_address, "new", :onclick => "$('#new_address').show()" %> Add new address

  <div id="new_address" <% if @payment.existing_address == "existing" %>style="display: none;"<% end %>>
  <%= fields_for :address do |a| %>
  <%= render 'shared/error_messages', :target => @address %>
    <%= a.select(:title, options_for_select(['Mr','Miss','Mrs','Ms'])) %>
    <%= a.label :first_name %><br />
    <%= a.text_field :first_name %>
    <%= a.label :last_name %><br />
    <%= a.text_field :last_name %>
    <%= a.label :organisation %><br />
    <%= a.password_field :organisation %>
    <%= a.label :building %><br />
    <%= a.text_field :building %>
    <%= a.label :street %><br />
    <%= a.text_field :street %>
    <%= a.label :town %><br />
    <%= a.text_field :town %>
    <%= a.label :county %><br />
    <%= a.text_field :county %>
    <%= a.label :post_code %><br />
    <%= a.text_field :post_code %>
   <%= a.label :country %><br />
   <%= a.text_field :country %>
  <% end %>
  </div>
  </div>
  <%= f.submit "Process Payment", :class=>"btn pull-right btn-primary" %>
<% end %>

 </div>
</div>
