<% provide(:title, 'Edit Address') %>

<h2>Edit Address</h2>
<div class="row">
 <div class="span8 offset2">
<%= render "shared/error_messages", :target => @address %>
<%= form_for @address do |a| %>
 <%= a.select(:title, options_for_select(['Mr','Miss','Mrs','Ms'])) %>
 <%= a.label :first_name %>
 <%= a.text_field :first_name %>
 <%= a.label :last_name %>
 <%= a.text_field :last_name %>
 <%= a.label :organisation %>
 <%= a.text_field :organisation %>
 <%= a.label :building %>
 <%= a.text_field :building %>
 <%= a.label :street %>
 <%= a.text_field :street %>
 <%= a.label :town %>
 <%= a.text_field :town %>
 <%= a.label :county %>
 <%= a.text_field :county %>
 <%= a.label :post_code %>
 <%= a.text_field :post_code %>
 <%= a.label :country %>
 <%= a.text_field :country %>
 <br/><br/>
 <%= a.submit "Edit Address", :class => "btn pull-right btn-primary"%>
<% end %>
</div>
</div>
