<h2>Please sign in</h2>

<div class="row">
 <div class="span6 offset3">
<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
  <%= render "shared/error_messages", :target => @user_session %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login", :class => "btn btn-large btn-primary" %>
<% end %>
<p>Not an existing customer?</p>
<%= button_to "Register", signup_path, :class=>"btn btn-large btn-success" %>
 </div>
</div>
